@import url('https://fonts.googleapis.com/css2?family=font-name&family=optional-2nd-font-name&display=swap'); 

/* body {
  background-color: blue;
} */

figure.hero img{
 
  width: 1500px;
  margin: 0.25rem 0 1rem;
}

div.sub-hero {
  position: absolute;
  top: 300px;
  bottom: 20p;
}

div.sub-hero img {
  width: 100px;
  float: right;
  margin-left: 10px;
}

h1{
 text-align : center;
}

article{
  position: absolute;
}

/* img{
  display: flex;
  margin-left: auto;
} */

header {
  margin: 1rem auto;
  display: grid;
  grid-template-columns: 120px 1fr 2fr;
  align-items: center;
  border-bottom: 1px solid #FB8500;
  max-width: 1000px;
}

.logo img{
  margin: 0 0.25rem 0 1rem;
  width: 100px;
  height: auto;
}  


h1{
  font-size: 3rem;
  color: blue;
  padding: 40px;
  font: italic medium sans-serif;
  text-align:right;
  font-family: acme, arial, sans-serif;
}
nav ul{
  
  display: flex;
  text-align: center;
  justify-content: space-between;
  font: italic large sans-serif;

}
figure{
  border: thin #c0c0c0;
  display: flex;
  flex-flow: column;
  padding: 5px;
  max-width: 220px;
  margin: auto;
}
/* img{
  max-width: 220px;
  max-height: 150px;
  } */
p{
  background-color: aliceblue;
  color:darkblue;
  font: italic medium sans-serif;
  padding: 3px;
  text-align: justify;
}  
figcaption{
  background-color: aliceblue;
  color: blue;
  font: italic smaller sans-serif;
  padding: 3px;
  text-align: center;
}
main{
  max-width: 640px;
}
h2{
  background-color: aliceblue;
  color: grey;
  font: italic large sans-serif;
  padding: 3px;
  text-align: left;
}
p1{
  background-color: #FB8500;
  color: antiquewhite;
  font: italic small-caption sans-serif;
  padding: 3px;
  text-align: end;
}
h3{
  background-color: whitesmoke;
  color: red;
  font: italic larger sans-serif;
  padding: 4px;
  text-align: center;
}

footer{
  margin-top: 1em;
  border-top: 1px solid skyblue;
  text-align: center;
}

Footer img{
  width: 50px;;
  height: 50px;
  float: none;
}






