@import url('https://fonts.googleapis.com/css2?family=font-name&family=optional-2nd-font-name&display=swap'); 
:root {
  --primary-color: #023047;
  --secondary-color: #219EBC;
  --accent1-color: #FB8500;
  --accent2-color: #283618;

  --heading-font: ultra;
  --paragraph-font: ultra;

  --nav-background-color: #8ECAE6;
  --nav-link-color: #ffb703;
  --nav-hover-link-color: #0a9396;
  --nav-hover-background-color: #03272e;
}

.hero img{
  display: block;
  width: 100%;
  height: auto;
}


h1{
  position: center;
}

article{
  position: absolute;
}

img{
  display: flex;
  margin-left: auto;
}

header {
  margin: 1rem auto;
  display: grid;
  grid-template-columns: 120px 1fr 2fr;
  align-items: center;
  border-bottom: 1px solid #FB8500;
  max-width: 1000px;
}

.logo img{
  margin: 0 0.25rem 0 1rem;
  width: auto;
  height: auto;
}

h1{
  font-size: 2rem;
  font-family: acme, arial, sans-serif;
}
nav{
  text-align: center;
}

.navigation{
  display: flex;
  list-style: none;
}

.navigation li{
  flex: 1 1 100%;
}

.navigation a {
	display: block;
	color: navy;
	padding: 20px;
	text-decoration: none;
}

.navigation a:hover {
	color: tomato;
	font-weight: 700;
	text-decoration: underline;
}

section img{
  width: auto;
  height: auto;
  float: none;
}

footer{
  margin-top: 1em;
  border-top: 1px solid skyblue;
  text-align: center;
}

Footer img{
  width: auto;
  height: auto;
  float: none;
}






